@using Lab5TRKVD.Models
@using Lab5TRKVD.ViewModels
<style>
    td {
        padding: 5px;
    }

    tr:nth-child(even) {
        background: #CCC;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }
</style>
<form>
    <label>Виберіть компанію:</label>
    <select name="companyId">
        @foreach (CompanyModel comp in Model.Companies)
        {
            <option value="@comp.Id">@comp.Name</option>
        }
    </select>
    <input type="submit" />
</form>
<br />
<table>
    <tr>
        <td>Name</td>
        <td>Company</td>
        <td>Age</td>
        <td>Country</td>
    </tr>
    @foreach (Person p in Model.People)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Work.Name</td>
            <td>@p.Age</td>
            <td>@p.Work.Country</td>
        </tr>
    }
</table>